//
// Colors
//

// Override Bootstrap color variables

$yellow: #ffc800;
$red: #FF0000;

// Override Bootstrap state colors variables

$primary: $red;

// Override Bootstrap contrast ratio

$min-contrast-ratio: 1.5;
